[Unit]
Description=Sawyer service

[Service]
WorkingDirectory=%h/.cache/sawyer
IOSchedulingClass=3
IOSchedulingPriority=7
CPUSchedulingPolicy=idle
CPUSchedulingPriority=0
ExecStart=/usr/bin/sawyer
Restart=on-failure
LimitNPROC=1

[Install]
WantedBy=graphical.target
